@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkGrayBlue: hsl(217, 19%, 35%); /* headings */
    --darkBlue: hsl(214, 17%, 51%); /* text colour */
    --grayBlue: hsl(212, 23%, 69%); /* span colour */
    --lightBlue: hsl(210, 46%, 95%); /* background colour */
    --fontSize: 0.8125rem;  /* 13px */
}

body {
    background-color: var(--lightBlue);
    font-family: 'Manrope', sans-serif;
    font-size: var(--fontSize);
    line-height: 1.6;
    padding: 20px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
}

/* The grid display enables us to get a sticky header but it also pushes the card to the top.
In order to center the card: */
.main-wrap {
    display: flex;
    align-items: center;
}

.card-container {
    color: var(--darkBlue);
    width: 100%;
    max-width: 450px;
}

.drawer-img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.card-bottom {
    position: relative;
    top: -50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 8px 8px;
}

/* ---------------------CARD-TEXT---------------------- */

h1, h2 {
    color: var(--darkGrayBlue);
}

h1 {
    font-size: 1rem;
    margin-bottom: 10px;
}

h2 {
    font-size: var(--fontSize);
}

.text-container {
    padding: 35px 40px 0 40px;
}

.text-container > p {
    padding-bottom: 20px;
}

/* ------------------SOCIAL-INFO--------------------- */

.social-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.social-information.hidden {
    display: none;
}

.avatar-name-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

h2 > span {
    display: block;
    font-weight: 500;
    color: var(--grayBlue);
}

.profile-picture {
    width: 40px;
    border-radius: 50%;
}

.share-btn-container {
    background-color: var(--lightBlue);
    border-radius: 50%;
    padding: 5px 7.5px;
    cursor: pointer;
}

/* -----------------SHARE-BUTTONS------------------ */

.share-buttons {
    display: none;
}

.share-buttons.active {
    color: var(--grayBlue);
    display: block;
    padding: 15px 40px;
    background-color: var(--darkGrayBlue);
    border-radius: 0 0 8px 8px;
    width: 100%;
}

.button-wrap {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-wrap > .share-btn-container {
    background-color: var(--grayBlue);
}

.button-container {
    display: flex;
    gap: 5px;
}

.share-txt {
    letter-spacing: 6px;
}

.button-container > img {
    padding: 0 7px;
}

.share-btn-container svg path {
    fill: currentColor;
}

.pop-up-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute; 
    right: -45px;  
    bottom: -25px;
    width: 200px;
}

.pop-up {
    transform-origin: 50% 0%;
    transform: scale(0) translateY(-200px);
    opacity: 0;
    transition: .4s;
}

.pop-up.active {
    opacity: 1;
    transform: scale(1) translateY(-100px);
    background-color: var(--darkGrayBlue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 45px;
}

.pop-up.active:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    margin: 0 auto;
    height: 0;
    width: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid var(--darkGrayBlue);
}

/* --------------------MEDIA-QUERIES---------------------- */

@media (min-width: 450px) {
    h1 {
        font-size: 1.2rem;
    }
}

@media (min-width: 767px) {
    body {
        padding: 0 0 0 60px;
    }

    .card-container {
        display: flex;
        max-height: 310px;
        max-width: 100%;
        width: auto;
    }

    .pop-up-wrap {
        bottom: -10px;
    }

    .drawer-img {
        border-radius: 8px 0 0 8px;
        height: 100%;
        object-fit: cover;
        max-width: 350px;
    }

    .card-bottom {
        border-radius: 0 8px 8px 0;
        top: 0;
        right: 60px;
        max-width: 440px;
    }

    .text-container {
        padding-bottom: 20px;
    }
}